.gameOverContainer {
	padding: 16px;
	background-color: var(--rose);
	color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px 4px var(--black);
}

.gameOverContainer h2 {
	border-bottom: 1px solid var(--black);
}

#newGameBtn {
	padding: 6px 12px;
	background-color: var(--blue);
	color: var(--gold);
	font-size: 18px;
	font-weight: 700;
	border: 1px solid var(--black);
	border-radius: 4px;
	box-shadow: 2px 2px 4px var(--black);
	text-shadow: 1px 1px 1px var(--black);
}

#newGameBtn:hover {
	cursor: pointer;
}
